<main>
	<h2>Handmade, Fresh, Daily!</h2>

{{#each donuts}}
			<div class="donut-container">

				<img width="200px" height="200px" src={{img}}>

				<a href="{{_id}}"><h3>See more</h3></a>

				<p>$ {{price}} each </p>

			</div>

		{{/each}}

<a href="/new"><h2>Create a new donut</h2></a>
</main>
